cache/*
images/*
themes/anunciamex/*
themes/aqueous/*
themes/edit_80/*
themes/gallery-blue/*
themes/hostpel/*
themes/kamaleon/*
themes/moderndeluxe/*
themes/post-it-board/*
themes/primitive/*
themes/responsive/*
themes/simplyfluid/*
themes/wpClassifieds/*
themes/yenii/*
includes/config.php
robots.txt
install.lock
.htaccess
sitemap.xml.gz
